In [17]:
n = 0
while n < 10 :
    print(n)
    n += 1

0
1
2
3
4
5
6
7
8
9

In [18]:
class color: 
    Green= '\033[92m'
    END = '\033[0m'

In [40]:
n = 0
while n < 5 :
    print(n)
    n += 1
    
print(color.Green,"$""n", color.END, "is not less than 5")
#please ignore if the question did not want the green $n before the statement

0
1
2
3
4
 $n  is not less than 5

In [41]:
n = 0
while n < 5 :
    print(n)
    n += 1

print("5 is not less than 5")

0
1
2
3
4
5 is not less than 5

In [61]:
fruits = ["banana", "cherry", "apple"]
for x in fruits:
    if x == "banana":
        print("I like banana")
    if x == "cherry":
        print("I like cherry" )
    if x == "apple":
        print("apple is really a fruit?" )

I like banana
I like cherry
apple is really a fruit?

In [66]:
n = 30
sum = 0
i = 1

while i <= n:
    sum = sum + i
    i = i+1
    
print(sum)

465

In [81]:
grade = 55
if grade >=90: 
    print("A")
elif grade <90 and grade >= 80:
    print("B")
elif grade <80 and grade >= 70:
    print("C")
elif grade <70 and grade >= 60:
    print("D")
else: 
    grade <60
    print("F")

F

In [86]:
marks = {'Andy':88, 'Amy':66, 'James':90, 'Jules':55, 'Arthur':77}
for name, grade in marks.items():
    print(name,grade)

Andy 88
Amy 66
James 90
Jules 55
Arthur 77

In [118]:
marks = {'Andy':88, 'Amy':66, 'James':90, 'Jules':55, 'Arthur':77}
sum = 0
for n in marks.values():
    sum += n
    average_grade = sum / 5
print(average_grade)
max_grade = max(marks.values())
print(max_grade)
min_grade = min(marks.values())
print(min_grade)

75.2
90
55

In [129]:
marks = {'Andy':88, 'Amy':66, 'James':90, 'Jules':55, 'Arthur':77}
for t in marks.keys():
    if "J" in t:
        break
    else:
        print(t)

Andy
Amy

In [130]:
marks = {'Andy':88, 'Amy':66, 'James':90, 'Jules':55, 'Arthur':77}
for t in marks.keys():
    if "J" in t:
        continue
    else:
        print(t)

Andy
Amy
Arthur